* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Teko", sans-serif;
}

/* classi utility */

.d-flex {
  display: flex;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

/* ------------------------------- */

.navtop {
  justify-content: center;
}

.navbottom ul {
  list-style: none;
  justify-content: center;
}

.navbottom a {
  font-size: 1.5rem;
  color: #001942;
  text-decoration: none;
  padding: 10px 15px;
}

.navbottom li:hover {
  background-color: #B3E5FC;
}

.active {
  background-color: #B3E5FC;
}

main .lista_prodotti {
  margin-top: 20px;
  padding: 30px 0;
  background-color: #DAEDF3;
}

main section h1 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  color: #001942;
  font-size: 3rem;
  font-weight: 400;
}

main .box_pasta {
  margin-top: 20px;
  flex-wrap: wrap;
  padding: 0 20px;
}

main .pasta {
  width: calc(100% / 3 - 10px);
  margin-bottom: 10px;
  position: relative;
}

main .pasta .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .pasta .overlay h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #001942;
  font-weight: 400;
  font-size: 2rem;
}

main .pasta img {
  height: 100%;
  width: 100%;
}

main .pasta:hover .overlay {
  display: flex;
}

main .pasta:not(:nth-of-type(3n)) {
  margin-right: 10px;
}

main .pasta:nth-of-type(3n) {
  float: right;
}

main .info_box {
  padding: 10px;
  background-color: #DAEDF3;
  font-size: 30px;
  border: 4px solid lightblue;
}

main .info_box p {
  flex-wrap: wrap;
}

main .info_box p strong {
  width: calc(100% / 2);
}

main .single_product {
  width: 100%;
  background-color: #B7DAE5;
  padding: 30px;
}

main .single_product img {
  width: 100%;
}

main .single_product .info_grid {
  flex-wrap: wrap;
  margin-bottom: 30px;
}

main .single_product .info_grid .info_grid_card:nth-of-type(3n + 2) {
  border-left: 1px solid #092C74;
  border-right: 1px solid #092C74;
}

main .single_product .info_grid .info_grid_card {
  width: calc(100% / 3);
  border-bottom: 1px solid #092C74;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 0;
}

main .single_product .info_grid .info_grid_card h2 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 400;
  color: #092C74;
  font-size: 2.4rem;
}

main .single_product .info_grid .info_grid_card img {
  width: 65%;
}

main .single_product p,
main .single_product ul,
main .single_product li,
main .single_product #text {
  font-size: 1.3rem;
  font-family: "Playfair Display", serif;
  color: #092C74;
}

footer {
  padding-top: 50px;
}

footer .footer_column {
  min-width: calc(100% / 4);
  flex-direction: column;
  font-size: 20px;
  color: #001942;
}

footer .footer_column ul {
  list-style: none;
}

footer .footer_column a {
  color: #001942;
  text-decoration: none;
}

